{% extends "base.html.twig" %}

{% block title %}A propos | {{ parent() }}{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
            <h1 style="text-decoration: underline; text-align: center;">A propos de mon blog :</h1>
            <p>
            

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis dapibus luctus. Aliquam malesuada et libero sit amet tempus. Aliquam et nunc dapibus, hendrerit sapien nec, varius mauris. Phasellus aliquet maximus dignissim. Sed tincidunt erat at ullamcorper tincidunt. Vestibulum ex orci, porttitor eu sem a, consectetur consectetur libero. Quisque at lorem suscipit eros volutpat aliquam. Phasellus sed dolor vestibulum, dictum felis et, hendrerit nisi. Nullam rutrum eros viverra sodales dictum. Morbi pulvinar laoreet velit ac fringilla. In hac habitasse platea dictumst.

Praesent ex lorem, ultricies in laoreet eget, tempus eget massa. Suspendisse velit lacus, placerat id viverra eget, laoreet nec justo. Integer lobortis, eros vel tincidunt tempus, ligula nulla tempor sapien, non auctor neque neque vel nunc. Integer in varius turpis, vel dapibus libero. Curabitur lacinia suscipit mauris ut lacinia. Vestibulum condimentum ultricies luctus. Nulla eu malesuada quam. 
            </p>
            <p>
            

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis dapibus luctus. Aliquam malesuada et libero sit amet tempus. Aliquam et nunc dapibus, hendrerit sapien nec, varius mauris. Phasellus aliquet maximus dignissim. Sed tincidunt erat at ullamcorper tincidunt. Vestibulum ex orci, porttitor eu sem a, consectetur consectetur libero. Quisque at lorem suscipit eros volutpat aliquam. Phasellus sed dolor vestibulum, dictum felis et, hendrerit nisi. Nullam rutrum eros viverra sodales dictum. Morbi pulvinar laoreet velit ac fringilla. In hac habitasse platea dictumst.

Praesent ex lorem, ultricies in laoreet eget, tempus eget massa. Suspendisse velit lacus, placerat id viverra eget, laoreet nec justo. Integer lobortis, eros vel tincidunt tempus, ligula nulla tempor sapien, non auctor neque neque vel nunc. Integer in varius turpis, vel dapibus libero. Curabitur lacinia suscipit mauris ut lacinia. Vestibulum condimentum ultricies luctus. Nulla eu malesuada quam. 
            </p>
		</div>
	</div>
{% endblock %}