body, html {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    height: 100%;
    padding: 0px;
    flex: 1 0 auto;
    width: 95%;
}

header{
    width: 100%;
    height: max-content;
    margin: 0px;
    padding: 0px;
    position: sticky;
}

nav{
    width: 100%;
    margin: 0 auto 25px auto;
    font-size: 1.7rem;
    background-color: #26A69A;
    height: 100%;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: #3B5CA8;
    border-bottom: 2px solid #3B5CA8;
}

nav ul{
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin:0px;
}

nav li{
    float: left;
    width: 18%;
    padding-top: 10px;
}

nav li p{
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

nav img{
    height: 45px;
    width: 45px;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

.row{
    width: 85% !important;
}
 
footer{
    border-top: solid 2px lightgray !important;
    background-color: #26A69A !important;
    color: white !important;
    padding-top: 0px !important;
}

footer p{
    padding: 1% 0px 0px 6;
    margin: 0px;
}

.footer_top{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.footer_top_content{
    text-align: center;
    font-size: 1.2rem;
}


.socials_icons{
    display: inline;
    text-align: center;
    width: 100%;
}

.newsletter{
    height: 100%;
    width: 25%;
    padding-top: 15px;
}

.newsletter p{
    padding: 0px;
    margin: 0px;
}

.newsletter input{
    height: max-content;
    color:white;
    width: 150px;
    margin: 0px;
    border-bottom: 1px solid #3B5CA8 !important;
}

.socials_icons img:hover{
    transform: scale(1.3); /* Animation */
}

.socials_icons img{
    padding: 10px 35px 0px;
    margin: 0px auto;
    transition: transform .2s; /* Animation */
}

.login_button{
    width: max-content;
    height: max-content;
    padding: 10px;
    border-radius: 10%;
    margin: 15px auto;
}

div.form_connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_connexion input{
    width: 100%;
}

.container{
    padding: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0px;
    max-width: 100% !important;
}

button {
    display: inline-block;
    background-color: #282828;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: green;
}

form{
    width: 100%;
    text-align: center;
    padding: 15px;
}

#register_form{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

#register_form div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}


#register_form input{
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    transition: all .3s;
    color: #444;
    max-width: 100%;
    line-height: 48px;
    height: 50px;
    width: 100%;
    padding-left: 15px;
}

#register_form label{
    padding-bottom: 5px;
}

/* article card */
.article-card {
	margin-bottom: 30px;
    text-align: center;
    border: 2px solid lightgray;
    padding: 10px;
    align-content: center;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    border-radius: 15px;
    height: 100%;
    min-height: 320px;
}

.article-card h2 {
	font-size: 1.5rem;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 5px;
}

.article-card h2 a {
	color: #d4b672;
}

.article-card.image-card {
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	height: 300px;
	position: relative;
	z-index: 1;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px;
}

.article-card.image-card::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
	z-index: -1;
}

.article-card.image-card h2 a {
	font-size: 2.2rem;
	color: #fff;
}

textarea.materialize-textarea {
	min-height: 10rem;
}

span.error {
	color: #e04447;
	font-size: 12px;
}

span.badge {
	font-size: 12px;
	color: #fff;
}

table td a {
	color: #000;
}

.error ul li{
    color:red;
    text-align: left;
}

.admin_list-img{
    max-width: 100px;
}

.responsive-img{
    max-width: 40% !important;
}

.commentaires_fields{
    width: 30%;
    height: 100%;
    border-left: 2px solid lightgray;
    padding-left: 15px;
}

.article_content {
    width: 70%;
    height: max-content;
}

 h2{
    margin: 0px;
 }

 .comment_owner{
     text-decoration: underline;
     font-size: 15px;
     padding: 0px 0px 5px 0px;
     margin: 0px;
 }

 .div_comment{
     border: 1px solid lightgray;
     padding: 15px;
     width: 90%;
 }

 .sidebar{
    width: 10%;
    border-right: 2px solid lightgray;
    padding-right: 15px;
    height: 100%;
 }

 .sidebar > div > a{
    width: 100%;
    padding: 10px;
    height: max-content;
    margin-bottom: 25px;
}

.container_contact{
    width: 70%;
    margin: auto;
    text-align: center;
}

.alert-success{
    width: 100%;
    height: max-content;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(63, 227, 18, 0.5);
    margin-bottom: 25px;
}

.container_add{
    padding: 0px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0px;
    max-width: 100% !important;  
}